<body >

  <div class="container border border-primary" style="background-color: lightgoldenrodyellow; text-align: center;">
    <p>
      idefix Sanal Kitap Fuarı<br>
      Birincisi 2003'te düzenlenen idefix Sanal Kitap Fuarı 20 senedir okurların büyük ilgisiyle aralıksız olarak devam
      ediyor. Sanal Kitap Fuarı'da yapılan sayısız etkinliğin yanı sıra 2000'in üzerinde yayınevinin 200.000 farklı
      kitabı %70'e varan indirimlerle okurlarla buluşuyor. Sanal Kitap Fuarı son 3 senedir en fazla ziyaretçi sayısı ile
      Türkiye'nin en büyük kitap fuarı ünvanını da elinde bulundurmaktadır.
<br>
      E-Kitap <br>
      Nisan 2010'da TTGV ve TÜBİTAK işbirliğiyle Türkiye'nin ilk e-kitap platformunu hayata geçirdi. İlk olarak Adobe
      DRM destekli cihazları destekleyen idefix, sırası ile iPad, iPhone ve Android işletim sistemli cihazlara da destek
      vermeye başladı.<br>


      Prefix.com.tr<br>

      Ağustos 2011'de Anadolu'daki kitapçıların kitaba erişim sorununa köklü bir çözüm getiren B2B kitap dağıtım
      platformu olan idefix'in kardeş markası Prefix.com.tr kuruldu.<br>


      Sözünü Sakınmadan<br>

      idefix, Sabit Fikir ve İstanbul Modern Müzesi işbirliğinde gerçekleştirilen Sözünü Sakınmadan söyleşileri ile usta
      eleştirmenler Semih Gümüş ve Ömer Türkeş'in moderatörlüğünde Murathan Mungan'dan, Hakan Günday ve Selim İleri'ye
      kadar 13 değerli yazarı ve yüzlerce edebiyatseveri konuk etti.<br>


      idefix Yazar Ormanları<br>

      Ormanlarımız bizim geleceğimiz, onları korumak da kitapseverler olarak çevreye borcumuz. İstiyoruz ki biz okurken
      doğal ormanlarımız yok olmasın, yeşiller gelecek nesillere kalsın. İşte bu sebeple, idefix'ten her sene satılan
      kitaplar için kesilen ağaçları doğaya geri kazandırıyoruz. Her sene gerçekleştirdiğimiz bu ormanlarımıza da idefix
      üyelerinin oylarıyla belirlediğimiz yazarlarımızın isimlerini veriyoruz.</p>
  </div>
  
  <br><br>
  
  <div class="card" >
    
    <div class="card-body" >
      <blockquote class="blockquote mb-0">
        <ul>
          <li><p>For your suggestions and complaints, please <strong>click text below</strong> to contact us;</p></li>
          <li><p><a href="mailto:furkan_1582@hotmail.com"><p class="text-dark"><u>Send email to us</u></p></a></p></li>
        </ul>

      </blockquote>
    </div>
  </div>
  <br><br><br>
  


  


